@using Telerik.Web.Mvc.UI
@using Seemok.Models
<div class="form-list">
    @Forms.Toolbar("Koreksi Faktur", new Button { Id = "btnCorrection", Caption = "Koreksi Faktur" })
    @Forms.Subtitle("List Faktur")
    @(Html.Telerik().Grid<JobOrder>()
     .Name("TGrid")
     .DataBinding(dataBinding => dataBinding.Ajax().Select("JobOrderList", "GridApi", new { Area = "" }))
     .Columns(columns =>
     {
         columns.Bound(o => o.JobOrderNo).Title("No SPK").Width(80);
         columns.Bound(o => o.JobOrderDate).Title("Tgl SPK").Width(90).Format("{0: dd-MMM-yyyy}");
         columns.Bound(o => o.VehicleID).Title("Jenis Kendaraan").Width(180);
         columns.Bound(o => o.JobOrderCode).Title("Jenis Pekerjaan").Width(120);
         columns.Bound(o => o.Odometer).Title("Odometer").Width(120);
         columns.Bound(o => o.CustomerBill).Title("Pembayar").Width(120);
         columns.Bound(o => o.Status).Title("Status").Width(90);
     })
     .ClientEvents(evt => evt.OnRowSelected("$.rowChanged"))
     .KeyboardNavigation()
     .Selectable()
     .Sortable() 
     .Filterable()
     .ColumnContextMenu()
     .Pageable(p => p.PageSize(15)))
</div>


