<ul>
    <li><a href='#'>Dashboard</a></li>
    <li><a href='#'>Data Master</a></li>
    <li><a href='#'>Proses</a></li>
    <li><a href='#'>Monitoring</a></li>
    <li><a href='#'>Laporan</a></li>
</ul>
