<div class="side-left">
    <h5>Dashboard</h5>
    <ul class="nav-menu">
        <li>Sumary</li>
        <li>Detail</li>
        <li>List</li>
    </ul>
</div>
<div class="side-main">
    <div class="btitle">
        <label>Dashboard</label>
    </div>
    <div class="bcontent">
        <form class="form-horizontal">

        </form>
    </div>
</div>
@Forms.NavScript()