<div class="btitle">
    <label>Sample Grid Layout</label>
    <div class="action">
        <input type="button" value="Add Product" class="btn btn-small" />
        <input type="button" value="Action" class="btn btn-small" />
    </div>
</div>
<div class="bcontent">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Desc</th>
                <th>Demo</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Name 001</td>
                <td>Desc 001</td>
                <td>Demo 001</td>
                <td>Status 001</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Name 001</td>
                <td>Desc 001</td>
                <td>Demo 001</td>
                <td>Status 001</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Name 001</td>
                <td>Desc 001</td>
                <td>Demo 001</td>
                <td>Status 001</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Name 001</td>
                <td>Desc 001</td>
                <td>Demo 001</td>
                <td>Status 001</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Name 001</td>
                <td>Desc 001</td>
                <td>Demo 001</td>
                <td>Status 001</td>
            </tr>
        </tbody>
    </table>
</div>
