<div class="side-left">
    <h5>Detail Menu Master</h5>
    <ul class="nav-menu">
        <li>Settings</li>
        <li>Cabang</li>
        <li>Faktor Penilaian</li>
        <li>Risk Composite</li>
        <li>Risk Type</li>
        <li>Variable</li>
        <li>Component</li>
    </ul>
</div>
<div class="side-main">
    <div class="btitle">
        <label>Data Master</label>
    </div>
    <div class="bcontent">
    </div>
</div>
@Forms.NavScript()