<div class="side-left">
    <h5>Detail Menu Monitoring</h5>
    <ul class="nav-menu">
        <li>Hasil Perhitungan</li>
        <li>Penilaian TKS</li>
    </ul>
</div>
<div class="side-main">
    <div class="btitle">
        <label>Monitoring</label>
    </div>
    <div class="bcontent">
    </div>
</div>
@Forms.NavScript()