<div class="side-left">
    <h5>Detail Menu Proses</h5>
    <ul class="nav-menu">
        <li>Periode</li>
        <li>Pengambilan Data</li>
        <li>Perhitungan Peringkat</li>
        <li>Input Komponen Kualitatif</li>
    </ul>
</div>
<div class="side-main">
    <div class="btitle">
        <label>Proses</label>
    </div>
    <div class="bcontent">
    </div>
</div>
@Forms.NavScript()